nav.navbar.navbar-expand-lg.fixed-bottom.py-3.footer-custom
    h6.font-weight-bold.text-white.text-center.navbar-text 2021 Celso Rodrigues & Diogo Alves para PRI do Pr. JCR.
    a.font-weight-bold.text-white.navbar-text.text-right
    #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
            li.nav-item
                a.nav-link.text-uppercase.font-weight-bold.text-white(href='mailto: minho.book.contact@gmail.com') Contacto
