header.header
    nav.navbar.navbar-expand-lg.fixed-top.py-3.navbar-custom
        .container
            .navbar-brand.text-uppercase.font-weight-bold.text-white.title-navbar MINHOBOOK
            button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                i.fa.fa-bars
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav.ml-auto
                    li.nav-item.active
                        a.nav-link.text-uppercase.font-weight-bold.text-white.elem-navbar(href='/home')
                            | Home
                            span.sr-only (current)
                    li.nav-item
                        a.nav-link.text-uppercase.font-weight-bold.text-white.elem-navbar(href='/account') Perfil
                    if(user.level >=2)
                        li.nav-item
                            a.nav-link.text-uppercase.font-weight-bold.text-white.elem-navbar(href='/account') Content
                    if(user.level >= 3)
                        li.nav-item
                            a.nav-link.text-uppercase.font-weight-bold.text-white.elem-navbar(href='/account') Administraçao
                    li.nav-item
                        a.nav-link.text-uppercase.font-weight-bold.text-white.elem-navbar(href='/users/logout') Logout
