doctype html
html
    head
        title Minhobook
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        block scripts
            script(src='/jquery.js')
        block head
    body
        include header
        block content
        include footer