html, body {
    height: 100%;
}

#overlay-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: -1;
}

#index-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    transform: translateX(calc((100% - 100vw) / 2));
    z-index:-2;
}

.box-form{
    padding: 2%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.form-title{
    text-align: center;
    margin-bottom:12%;
    margin-left: 3%;
    margin-right: 3%;
    color:#fff;
}

.btn-submit{
    margin-top: 5%;
    font-weight: 600;
    color: #282726;
    background-color: #fff;
    border: none;
    border-radius: 1.5rem;
    padding:3%;
}

input.form-control{
    margin-right: 1.5%;
}

.left-margin-icon{
    margin-left:4px;
    height:30px;
}