extends ../includes/layout

block content
    link(rel='stylesheet', href='/stylesheets/styleHome.css')
    div.container(style="width:600px; margin-top:165px; auto;")
        if(news.length > 0)
            table.table(style="margin-bottom:50px;")
                caption Noticias
                each n in news
                    tr.text-center.row
                        td.col-md-12
                            if(n.asset)
                                a(href='/users/info/' + n.user.username) #{n.user.username}
                                b &nbsp;meteu em ligna o conteudo&nbsp;
                                a(href='/assets/info/' + n.asset.id) #{n.asset.title}
                            else if(n.produtor)
                                b O utilizador&nbsp
                                a(href='/users/info/' + n.user.username) #{n.user.username}
                                b &nbspé agora um produtor.
                            else
                                b O utilizador&nbsp
                                a(href='/users/info/' + n.user.username) #{n.user.username}
                                b &nbspinscreveu-se.
        else
            h5.text-center Nao existem noticias.