extends ../includes/layout
block content
    script(src='javascripts/accountScripts.js')
    link(rel='stylesheet', href='/stylesheets/styleAccount.css')
    div.container(style="width:700px; margin-top:165px; auto;")
        if(assets.length > 0)
            table.table.table-striped.table-hover
                caption Resultados
                each n in assets
                    tr.text-center.row
                        td.col-md-6
                            a(href="/assets/info/" + n.id) #{n.title}
                        if(n.stars.length > 0)
                            td.col-md-6 #{med(n.stars)}/5 (#{n.stars.length})
                        else
                            td.col-md-6 Nenhuma avaliaçao
        else
            h5.text-center Nao existem assets com esse tag.

    -function med(avaliacoes) {
    -var total = 0;
    -for (var i = 0; i < avaliacoes.length; i++) {
    -total += avaliacoes[i].stars;
    -}
    -return (total / avaliacoes.length).toFixed(1);
    -}